<h1>Available Units</h1>

<table>

    <tr>
        <th>Name</th>
        <th>Size (sq. ft)</th>
        <th>Price (/week)</th>
    </tr>

    <% @units.each do |unit| %>
        <tr>
            <td><%= unit.name %></td>
            <td><%= unit.size %></td>
            <td>£<%= unit.price %></td>
            <td><%= link_to "Book Now", new_booking_path %></td>
        </tr>
    <% end %>
    
</table>
<p>
    <h4><%= link_to "I am an operator", new_unit_path%></h4>
</p>


